<% include ../views/partials/header %>

Hello form index views

<ul>
    <% todos.forEach(function(todo) { %>
        <li><%= todo.text %> - <%= todo.body %></li>
    <% }) %>
</ul>
<% include ../views/partials/footer %>